ansible/vockey.pem
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/.terraform/
terraform/.terraform.tfstate.lock.info
ansible/inventory/group_vars/all/vault.yml
